Django==3.2.16
django==3.2.16
djangorestframework==3.14.0
psycopg2==2.9.1
opencv-python==4.6.0.66
Pillow==8.4.0
pytz==2022.5
django-apscheduler
tzlocal==2.1
ffmpeg
python-dotenv==0.20.0
daphne
channels==3.0.4
channels-redis==4.0.0
pip install selenium