<!DOCTYPE html>
<html>
    <style>
        body {
            padding-top: 0 !important;
     
        }
    </style>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load custom_tags %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href='{% settings_value "PRO_HOST" %}static/css/styles.css' rel="stylesheet" />
</head>
<body>

  
    <div class="form-group">
        <textarea id="chat-log" readonly="readonly" class="form-control"  rows="13"></textarea> 
    </div>
        <div class="form-group">
        <input id="chat-message-input" class="form-control"  type="text" >
        </div>
        <div class="form-group">
        <input id="chat-message-submit" class="form-control"  type="button" value="Send">
    </div>
 
  <input type="hidden" id="nick_name"  value="{{ nick_name }}">
    {{ room_name|json_script:"room-name" }}

 
<script>
        // 得到房間的名字
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        // 根據roomName拼接websocket請求地址，建立長連接
        //  請求url地址為/ws/chat/<room_name>/
        const wss_protocol = (window.location.protocol == 'https:') ? 'wss://': 'ws://';
        const chatSocket = new WebSocket(
             wss_protocol + window.location.host + '/ws/chat/'  + roomName + '/'
             );
            console.log(chatSocket)
        // 建立websocket連結時觸發這個funciton 歡迎進來的人
        chatSocket.onopen = function(e) {
             document.querySelector('#chat-log').value += ('[公告]歡迎進入' + roomName + '討論群。歡迎斗內案讚!\n')
         }
 
        // 從後台接收到資料時觸發此方法
        //  接收到後台資料時解析，並把他加祿聊天紀錄chatlog
         chatSocket.onmessage = function(e) {
                var textarea = document.getElementById('chat-log');
                const data = JSON.parse(e.data);
                document.querySelector('#chat-log').value += (data.message + '\n');
                textarea.scrollTop = textarea.scrollHeight;
         };
        
         // websocket連結中斷觸發方法
         chatSocket.onclose = function(e) {
             console.error('Chat socket closed unexpectedly');
         };
         
         document.querySelector('#chat-message-input').focus();
         document.querySelector('#chat-message-input').onkeyup = function(e) {
             if (e.keyCode === 13) {  // enter, return
                 document.querySelector('#chat-message-submit').click();
             }
         };
         //每當典籍發送按鈕  都通過websocket的send方法向後台發送消息
         document.querySelector('#chat-message-submit').onclick = function(e) {
              // 得到姓名
            var nickname = document.getElementById('nick_name').value;
            if(nickname==""){
                var nickname = prompt('請輸入你的暱稱');
                if(nickname==null){
                    document.getElementById('nick_name').value=""
                }
                else{
               
                    document.getElementById('nick_name').value=nickname
                }
            }
            else{
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                
                //先把資料轉乘jsｏｎ　在送後端
                chatSocket.send(JSON.stringify({
                    'nickname':nickname,
                    'message': message
                }));
                messageInputDom.value = '';
            }
         };
     </script>
</body>
</html>