<!DOCTYPE html>
<html>
    <style>
    </style>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load custom_tags %}
    {% load static %}
     
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href='{% settings_value "PRO_HOST" %}static/css/styles.css' rel="stylesheet" />
        <script src='{% settings_value "PRO_HOST" %}static/node_modules/jquery/dist/jquery.min.js'></script>
        <link href='{% settings_value "PRO_HOST" %}static/css/video.css?v=1.4' rel="stylesheet" />
        <link href='{% settings_value "PRO_HOST" %}static/node_modules/jquery-contextmenu/dist/jquery.contextMenu.min.css' rel="stylesheet" />
        <script src='{% settings_value "PRO_HOST" %}static/node_modules/jquery-contextmenu/dist/jquery.contextMenu.min.js'></script>
        <script src='{% settings_value "PRO_HOST" %}static/node_modules/jquery-contextmenu/dist/jquery.ui.position.js'></script>
</head>
<body>

    <div class="media-body form-control" id="messagebody">
        <div class="message-wrapper"> 
            <ul class="messages">
                {% for message in messages %}

                {% if message.isdisable  %}
                <li class="message clearfix" id={{message.id}}> <div class="received">{% if user.is_authenticated %}<input type="checkbox"  id=ch{{message.id}} value={{message.id}}>{% endif %}
                    <p class='message'>{{message.nickname}}:{{message.message}}</p><p class="date">{{message.created_at}}</p> </div></li>
                {% else %}
                <li class="message clearfix" id={{message.id}}> <div class="received"><p class='delmessage'>該留言已被管理員刪除</p><p class="date">{{message.created_at}}</p> </div></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="row">
                <div class="form-group col-8">
                <input id="chat-message-input"  type="text" >
                </div>
                <div class="form-group col-4">
                <input id="chat-message-submit" class="form-control"  style="position: relative;float: left;transform:translateY(+35%);" type="button" value="Send">
            </div>
        </div>
    <input type="hidden" id="myVar" name="variable" value="{{ user.is_authenticated }}">
  <input type="hidden" id="nick_name"  value="{{ nick_name }}">
    {{ room_name|json_script:"room-name" }}
</div>
<script src='{% settings_value "PRO_HOST" %}static/js/chat.js?v=1.1'></script>
{% if user.is_authenticated %}
<script>
    $(function() {
    $.contextMenu({
        selector: '.messages',
        callback: function(key, options) {
        var m = "clicked: " + key;
            //window.console && console.log(m) || alert(m);
        var array = []
        var checkboxes = document.querySelectorAll('.messages input[type=checkbox]:checked')//取得所有選擇的留言

        for (var i = 0; i < checkboxes.length; i++) {
        array.push(checkboxes[i].value)
        }
            console.log(m);
        if(key=="delete"){
            if(array.length==0){
            alert("請選擇欲刪除留言")
            }
            else{
                $.get("{% url 'deletemessage' %}", { "data[]": array } )
                .done(function( data ) {
                    if(data.response)
                    {
                        chatSocket.send(JSON.stringify({
                        'type':'delete_message',
                        'messages':data.datas,
                       }));
    
                    }
                    else{
                        alert("刪除留言發生問題，請聯繫管理員")
                    }
                });
            }
        }
       
        
        },
        items: {
            "delete": {name: "刪除", icon: "delete"},
            "sep1": "---------",
            "quit": {name: "取消", icon: function(){
                return 'context-menu-icon context-menu-icon-quit';
            }}
        }
    });

    // $('.messages').on('click', function(e){
    //     console.log('clicked', this);
    // })
});
</script>
{% endif %}
</body>
</html>