{% extends 'baseVideo.html' %} 
{% block body %}
{% load static %}
{% load custom_tags %}
<link href="{% static 'css/video.css' %}" rel="stylesheet" />

    <!-- 顯示影片-->
    <div class="container-fluid p-0" id="videos"> 
        {% for camera in camera_list %}
        <section class="resume-section">
        <div class="resume-section-content row " style="margin-top: 2px;">
            <div class="col-10">
            <h2 class="mb-5">{{camera.title}}</h2>
        </div>
            <div class="col-2">
                <button type="button" class="btn btn-info" onclick="refreshCachedImage('video{{ camera.camera_id }}')">reload</button>
                  </div>
            <div class="">
            <img src="/api/camera/?camera_id={{ camera.camera_id }}" class="video" id="video{{ camera.camera_id }}">
           </div>
            {% if forloop.first %}
            <div class="chatRoom">
                <iframe src='{% settings_value "SOCKET_SERVER" %}chat/{{ camera.title}}?nickname={{user.username}}' frameborder="0" style="border:0"></iframe>
            </div>
            {% endif %}  
        </div>
        
        </section>
        {% endfor %}
    </div>
    <div id="popup">
        <div class="bg">
          <img src=""/>
        </div>
    <input type="hidden" id="role" name="variable" value="{{ role }}">
</body>
<script>
    $(function(){
     var imgs = document.getElementById("videos").getElementsByTagName("img");
    var lens = imgs.length;
    var popup = document.getElementById("popup");
    for(var i = 0; i < lens; i++){
        imgs[i].onclick = function (event){
            event = event||window.event;
            var target = document.elementFromPoint(event.clientX, event.clientY);
            showBig(target.src);
        }
    }
    popup.onclick = function (){
        popup.style.display = "none";
    }
    function showBig(src){
        popup.getElementsByTagName("img")[0].src = src;
        popup.style.display = "block";
    }
});
 //網頁背景執行，不容易斷線
    var role = document.getElementById("role").value;
    if(role=="admin"){
        if (/Mobi|Android|iPhone/i.test(navigator.userAgent)) {
        console.log("Mobi")
         }
         else{
            var camera_list = JSON.parse('{{ camerabackground_list | safe }}')
            camera_list.forEach(function (value) {
            let api="api/camera/?camera_id=" + value.fields.camera_id + "&role=admin&background=True";
            var xhr = new XMLHttpRequest();
            xhr.multipart = true; 
            xhr.open('GET', api);
            xhr.onreadystatechange = function(){
                if (xhr.readyState == 4){
                    console.log("狀態已轉換")
                    window.location.assign(window.location.href);
                }
            };
            xhr.send(null)
            });
         }
        
    }
    function refreshCachedImage(img_id) {//更新圖片
    var img = document.getElementById(img_id);
    img.src = img.src; // trick browser into reload
};
</script>
{% endblock %}