{% extends 'base.html' %} 
{% block body %}
<div class="container-fluid p-0">
  <!-- About-->
  <section class="resume-section" id="about">
      <div class="resume-section-content">
          <h1 class="mb-0">
         
              <span class="text-primary">{{ unit.name }}</span>
              {{errormessage}}
          </h1>
          <div class="subheading mb-5">
            {{ unit.address }}· {{ unit.phone }}·
              <a href="mailto:name@email.com">{{ unit.mail }}</a>
          </div>
          <p class="lead mb-5">{{ unit.introduction }}</p>
          <div class="social-icons">
        
              <a class="social-icon" href="https://github.com/{{ unit.githubid }}" target="_blank"><i class="fab fa-github"></i></a>
              <a class="social-icon" href="https://www.instagram.com/{{ unit.igid }}/" target="_blank"><i class="fab fa-instagram"></i></a>
              <a class="social-icon" href="https://m.facebook.com/profile.php?id={{ unit.fbid }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </div>
      </div>
  </section>
  <hr class="m-0" />
  <!-- Experience-->
  <section class="resume-section" id="experience">


      <div class="resume-section-content">
          <h2 class="mb-5">Experience</h2>
        {% for exps in exp %}
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">{{ exps.position }}</h3>
                  <div class="subheading mb-3">{{ exps.companyname }}</div>
                  <p>{{ exps.content| linebreaksbr }}</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">{{ exps.start }} - {% if exps.end %}{{ exps.end }}{% else %}迄今 {% endif %}</span></div>
          </div>
          {% endfor %}
      </div>
  </section>
  <hr class="m-0" />

  <!-- Project-->
  <section class="resume-section" id="project">
      <div class="resume-section-content">
          <h2 class="mb-5">Project</h2>

        {% for projects in project %}
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">{{ projects.projectname }}</h3> 
                  {%if  projects.projecturl%}
                  <a href="{{ projects.projecturl }}" target="_blank">前往察看</a>
                  {% endif %}
                  <div class="subheading mb-3">{{  projects.projectcontent| linebreaksbr }}</div>
              </div>
              <div class="flex-grow-0">
              <span class="text-primary">{{ projects.projectstart }} - {% if projects.projectend  %}{{ projects.projectend  }}{% else %}迄今 {% endif %}
              <br>
              <a href="{{ projects.projecturl }}" target="_blank"><img class="img-fluid img-profile rounded mx-auto mb-2" src="/{{ projects.projectimg }}"  /> </a>  

                   
              </span>
           
              </div>
             
          </div>
        {% endfor %}
      </div>
  </section>
  <hr class="m-0" />

  <!-- Education-->
  <section class="resume-section" id="education">
      <div class="resume-section-content">
          <h2 class="mb-5">Education</h2>

        {% for edus in edu %}
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">{{ edus.school }}</h3>
                  <div class="subheading mb-3">{{ edus.department }}/{{ edus.status }}</div>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">{{ edus.duringstart }} - {% if edus.duringsend  %}{{ edus.duringsend  }}{% else %}迄今 {% endif %}</span></div>
          </div>
        {% endfor %}
      </div>
  </section>
  <hr class="m-0" />
  <!-- Skills-->
  <section class="resume-section" id="skills">
      <div class="resume-section-content">
          <h2 class="mb-5">Skills</h2>
        {% for skills in skill %}
          <div class="subheading mb-3">{{ skills.skillname }}</div>
          <p> {{ skills.skillcontect | linebreaksbr }}</p>
          <p> {{ skills.skilltag  }}</p>
        {% endfor %}
          
  </section>
  <hr class="m-0" />
  <!-- Interests-->
  <section class="resume-section" id="interests">
      <div class="resume-section-content">
          <h2 class="mb-5">Interests</h2>
          <p{{ unit.interests | linebreaksbr }}</p>

      </div>
  </section>
  <hr class="m-0" />
  <!-- Awards-->
  <section class="resume-section" id="awards">
      <div class="resume-section-content">
          <h2 class="mb-5">Awards & Certifications</h2>
          <ul class="fa-ul mb-0">
          {%for awards in award%}
              <li>
                  <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                 {{awards.awardname}}
              </li>
           {% endfor %}
          </ul>
      </div>
  </section>
</div>
{% endblock %}